.cart-table{
	margin: 16px;
}


.cart-table th{
	border-bottom: #e6e7e8 1px solid;
	color: #515151;
	font-size: 20px;
	text-align: center;
}


.cart-table td{
	border-bottom: #e6e7e8 1px solid;
	text-align: center;
	padding: 0 16px;
}

.cart-table a{
	text-decoration: none;
	color: #007bc7;
}

.cart-table h2{
	color: #515151;
}

.cart-table .quantity{
	width: 40px;
	text-align: center;
}

.confirmation-section {
    text-align: right;
    margin-bottom: 15px;
    margin-right: 10px;
}

.confirmation-section table{
	margin-right: 0px;
    margin-left: auto;
}

