/* list */

#categories hr{
    color: #007bc7;
    width: 100%;
}

#categories a{
	text-decoration: none;
	color: grey;
}

#categories li{
	padding: 4px;
}


#categories .title{
    color: #007bc7;
    margin-top: 28px;
    margin-bottom: 25px;
}

.animals-list, .categories-list{
	list-style-type: none;
}

.animals-list{
	margin: 0;
	padding: 0;
}

#categories a:hover{
	text-decoration: underline;
	color: black;
}

.animal-name{
	padding: 0;
	margin: 0;
}


/**/


#products-section{
	align-items: center;
	padding-right: 100px;
}

#products-section .title{
    color: #007bc7;
    text-align: center;
}

#products-section hr{
    color: #007bc7;
    width: 100%;
}

#products-section .product-cell{
	justify-content: center;
	align-items: center;
	width: 150px;
	padding: 10px;
}

#products-section .product-cell a{
	text-decoration: none;
	color: black;
	text-align: center;
}

#products-section .product-cell h3{
	color: #007bc7;
	text-align: center;
}

#products-section .product-cell p{
	color: #000;
}

#products-section .product-cell p:hover{
	color: #004e75;
}
