<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="lateral-menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Menu</title>
</head>
<body>
	<aside>
		<div id="side-menu">
			<h3 class="title">CATEGORIAS</h3>
			<ul class="first-list">
				<li><h4 class="first-topic"><a href="#">Cachorro</a></h4></li>
				<ul class="second-list">
					<li><a href="#">Alimentos</a></li>
					<li><a href="#">Brinquedos</a></li>
					<li><a href="#">Higiene</a></li>
				</ul> 
				<li><h4 class="first-topic"><a href="#">Gato</a></h4></li>
				<ul class="second-list">
					<li><a href="#">Alimentos</a></li>
					<li><a href="#">Brinquedos</a></li>
					<li><a href="#">Higiene</a></li>
				</ul> 
				<li><h4 class="first-topic"><a href="#">Pássaro</a></h4></li>
				<ul class="second-list">
					<li><a href="#">Alimentos</a></li>
					<li><a href="#">Brinquedos</a></li>
					<li><a href="#">Higiene</a></li>
				</ul> 
			</ul> 
		</div>

	</aside>


</body>
</html>
